<div class="container-fluid home-module">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form ng-show="!added">
        <h1 class="title">Wanna stay at the <a target="_blank" href="https://www.airbnb.com/rooms/277882">original airbnb listing</a>?</h1>
        <p class="pretext">
          Legends have it that Brian Chesky (airbnb's CEO) randomly selects a few days a year to open up his apartment on airbnb. If you would like to be among the lucky few, leave your email here, and I'll notify you when the opportunity comes. <br/>
          <strong>{{ subscribers.length }}</strong> people have signed up. 
        </p>
        <input type="email" 
               required
               name="email" 
               class="email-input" 
               placeholder="Your email" 
               ng-model="email">
        <button class="submit" 
                ng-click="subscribe(email)">
          Notify me when it's available
        </button>
      </form>
      <div ng-if="added">
        <h1 class="title">Thanks, we got your email! Good luck!</h1>
        <p><strong>{{ subscribers.length }}</strong> people have signed up.</p>
      </div>
      
    </div>     
  </div>
</div>