$font-stack: 'Lato', Helvetica, sans-serif;
$primary-color: #333;
$font-size: 16px;
$font-weight: 300;

$primary-blue: #0084FF;

@mixin transition($property, $time, $easing) {
  transition: $property $time $easing;
}