.side-nav {
  list-style: none;
  margin: 3rem 0 0 0;
  padding: 0;

  & > li {
    
    & > a {
      display: block;
      padding: 8px 15px;
      color: #777;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      cursor: pointer;
      @include transition(all, 0.2s, ease-in-out);
      
      &:hover {
        color: #111;
      }
    }
  }
}